workflows/onboarding-payment.json
{
  "name": "Onboarding Payment Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pay-1111-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "onboarding-payment"
    },
    {
      "parameters": {
        "jsCode": "// Build the Ontraport processManual payload from webhook data\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst contactId = body.contact_id;\nconst products = body.products || [];\nconst payer = body.payer || {};\nconst billingAddress = body.billing_address || {};\nconst externalOrderId = body.external_order_id || `AWE-${contactId}-${Date.now()}`;\n\nif (!contactId || !payer.ccnumber) {\n  return [{ json: { error: true, message: 'Missing contact_id or card details' } }];\n}\n\n// Build the Ontraport transaction payload\nconst payload = {\n  contact_id: contactId,\n  chargeNow: 'chargeNow',\n  external_order_id: externalOrderId,\n  invoice_template: 1,\n  gateway_id: 1,\n  offer: {\n    products: products,\n    hasTaxes: false,\n    hasShipping: false,\n    send_recurring_invoice: true\n  },\n  billing_address: {\n    address: billingAddress.address || '',\n    address2: billingAddress.address2 || '',\n    city: billingAddress.city || '',\n    state: billingAddress.state || '',\n    zip: billingAddress.zip || '',\n    country: billingAddress.country || 'AU'\n  },\n  payer: {\n    ccnumber: payer.ccnumber,\n    code: payer.code,\n    expire_month: payer.expire_month,\n    expire_year: payer.expire_year\n  }\n};\n\nreturn [{ json: { payload, hasError: false } }];"
      },
      "id": "pay-2222-4000-8000-000000000002",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ontraport.com/1/transaction/processManual",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Appid",
              "value": "2_20316_ZYDEWASbF"
            },
            {
              "name": "Api-Key",
              "value": "bCgaiS79MKxiks8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "pay-3333-4000-8000-000000000003",
      "name": "Ontraport Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Ontraport processManual response\n// Handles both clean responses and AxiosError (400) with embedded chargeResult JSON\nconst input = $input.first().json;\n\n// Check if Build Payload reported an error\nconst buildPayload = $('Build Payload').first().json;\nif (buildPayload.hasError || buildPayload.error) {\n  return [{ json: { success: false, error: buildPayload.message || 'Invalid payment data' } }];\n}\n\n// Eway bank response code to user-friendly message mapping\nconst BANK_CODES = {\n  '39': 'Your card issuer has declined the transaction as the card number used is not a credit account.',\n  '40': 'Your card issuer does not allow this type of transaction.',\n  '41': 'This card has been reported lost. Please use a different card.',\n  '42': 'The account type selected is not valid for this card. Please use an alternate card.',\n  '43': 'This card has been reported as stolen. Please use a different card.',\n  '44': 'The account type selected is not valid for this card number.',\n  '46': 'This credit card account has been closed. Please use a different card.',\n  '51': 'Insufficient funds. Please use an alternate card or contact your bank.',\n  '52': 'The card number is associated with a cheque account that does not exist.',\n  '53': 'The card number is associated with a savings account that does not exist.',\n  '54': 'Your card has expired. Please check the expiry date or use a different card.',\n  '55': 'Incorrect PIN entered. Please re-enter your PIN.',\n  '56': 'Card number does not exist. Please re-enter your card details or use an alternate card.',\n  '57': 'This card cannot be used for this type of transaction. Please use an alternate card.',\n  '58': 'This card cannot be used for this type of transaction. Please use an alternate card.',\n  '59': 'This transaction has been flagged as potentially fraudulent. Please contact your bank.',\n  '60': 'Transaction declined. Please contact your bank and retry.',\n  '61': 'This transaction exceeds your card limit. Please use an alternate card or contact your bank.',\n  '62': 'Your card has restrictions that prevent this transaction. Please use an alternate card.',\n  '63': 'Transaction declined due to a security violation. Please use an alternate card.',\n  '64': 'Transaction declined due to the amount. Please check the amount and try again.',\n  '65': 'You have exceeded the withdrawal frequency limit. Please try again later.',\n  '66': 'Transaction declined. Please use an alternative card.',\n  '67': 'This card is suspected to be counterfeit. Please use a different card.',\n  '75': 'Incorrect PIN entered too many times. Please contact your bank.',\n  '82': 'CVV is incorrect. Please check the 3 digits on the back of your card (or 4 digits on the front for AMEX).',\n  '83': 'Transaction declined for security reasons. Please contact your bank or try another card.',\n  '90': 'Your card issuer is temporarily unable to process. Please try again in a few minutes.',\n  '91': 'Card issuer cannot be contacted. Please try again or contact your bank.',\n  '92': 'Card issuer cannot be found for routing. Please check your card details or try a different card.',\n  '93': 'Transaction declined. Please contact your bank.',\n  '94': 'This appears to be a duplicate transaction. Please check and try again if needed.',\n  '96': 'Card issuer was unable to process the transaction. Please try again.'\n};\n\n// Extract chargeResult from the response.\n// Ontraport can return it two ways:\n// 1. Clean JSON: { chargeResult: {...}, invoice_id: ... }\n// 2. AxiosError 400: { error: { message: '400 - \\\"{...json...}\\\"', status: 400 } }\nlet chargeResult = null;\nlet invoiceId = null;\n\nif (input.chargeResult) {\n  // Clean response\n  chargeResult = input.chargeResult;\n  invoiceId = input.invoice_id;\n} else if (input.error && input.error.message) {\n  // AxiosError - extract JSON from error message\n  // Format: '400 - \"{\\\"chargeResult\\\":{...},\\\"invoice_id\\\":\\\"9887\\\"}\"'\n  const errMsg = input.error.message;\n  const dashIdx = errMsg.indexOf(' - ');\n  if (dashIdx !== -1) {\n    let jsonStr = errMsg.substring(dashIdx + 3);\n    // Remove outer quotes if present\n    if (jsonStr.startsWith('\"') && jsonStr.endsWith('\"')) {\n      jsonStr = jsonStr.slice(1, -1);\n    }\n    // Unescape the JSON string\n    jsonStr = jsonStr.replace(/\\\\\\\\/g, '\\\\').replace(/\\\\\"/g, '\"');\n    try {\n      const parsed = JSON.parse(jsonStr);\n      chargeResult = parsed.chargeResult || null;\n      invoiceId = parsed.invoice_id || null;\n    } catch (e) {\n      // Could not parse - fall through to generic error\n    }\n  }\n} else if (input.data) {\n  // Wrapped in data property\n  chargeResult = input.data.chargeResult || null;\n  invoiceId = input.data.invoice_id || null;\n}\n\n// If we got a chargeResult, use it to determine success/failure\nif (chargeResult) {\n  const resultCode = chargeResult.result_code;\n  const txnId = chargeResult.transaction_id || invoiceId || '';\n  const msg = chargeResult.message || '';\n  const bankCode = chargeResult.bank_response_code || chargeResult.response_code;\n\n  // result_code 0 = success\n  if (resultCode === 0 || msg.toLowerCase().includes('success')) {\n    return [{ json: {\n      success: true,\n      transaction_id: String(txnId),\n      message: 'Payment processed successfully'\n    }}];\n  }\n\n  // Failed - look up bank code first, then fall back to message\n  let errorMsg = '';\n  const codeStr = bankCode ? String(bankCode) : null;\n  if (codeStr && BANK_CODES[codeStr]) {\n    errorMsg = BANK_CODES[codeStr];\n  } else if (msg) {\n    errorMsg = msg;\n  } else {\n    errorMsg = 'Payment was declined. Please check your card details and try again.';\n  }\n\n  return [{ json: {\n    success: false,\n    error: errorMsg,\n    error_code: bankCode || resultCode || null,\n    transaction_id: String(txnId),\n    raw_message: msg\n  }}];\n}\n\n// Fallback: no chargeResult found at all\nconst fallbackMsg = input.error ? (input.error.message || 'Payment request failed') : 'Unexpected response from payment gateway';\nreturn [{ json: {\n  success: false,\n  error: fallbackMsg,\n  error_code: input.error ? input.error.status : null,\n  raw_message: fallbackMsg\n}}];"
      },
      "id": "pay-4444-4000-8000-000000000004",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "pay-5555-4000-8000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Ontraport Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ontraport Payment": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
